*  {
    margin: 0;
    padding: 0;
    
    gap: 12px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
    display: inline-flex;
    flex-wrap: wrap;
}

.start{
    box-sizing: border-box;
    background-color: pink ;
    padding: 20px;

}

.questions{
    flex-flow: column;
    position: relative;
    align-items:center
    background-color: light-blue;


}
.submit{
    flex-direction: column;
    padding-inline-end: 20px;
}