*  {
    margin: 0;
    padding: 0;
    flex-wrap: flow;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
    display: flex; 
}

.start{
    box-sizing: border-box;
    flex-flow: nowrap;
    background-color: pink;
    padding: 20px;

}

.questions{
    flex-direction: column;
    margin: auto;
    padding: 20px;
    align-items:center

}
.submit{
    flex-direction: column;
}